<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | E-File</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="./assets/css/mdb.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #1565c0;
            color: white;
        }

        .e-file-icon {
            height: 250px;
            width: auto;
        }

        .content {
            margin-top: 4rem;
            min-height: 90vh;
        }

        .submit-btn {
            display: flex;
            justify-content: flex-end;
        }

        .popup-msg {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 10;
        }

        .side-nav {
            height: 100vh;
            position: absolute;
            left: 0
        }
    </style>
</head>

<body>
    <div class="alert popup-msg" role="alert">
        <span id="message"></span>
    </div>
    <div class="container">
        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
                <button class="toggler-example" type="button" data-toggle="collapse" data-target="#side-nav"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>
                <!-- Collapsible content -->
                <div class="collapse" id="side-nav">

                    <div class="side-nav">
                        <div class="navbar-nav">
                            <div class="nav-item">Upload</div>
                            <div class="nav-item">Manager</div>
                        </div>
                    </div>

                </div>
                <div class="navbar-nav mr-auto d-flex flex-row">
                    {{!-- <div class="nav-item">
                        <a class="nav-link" href="#">Upload</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">Manager</a>
                    </div> --}}
                </div>
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link btn btn-sm btn-white text-dark px-3" href="/logout">Logout</a>
                    </div>
                </div>
            </nav>

        </header>


        <div class="row content">
            <div class="col-12 d-flex justify-content-center my-4 my-lg-5">
                <img src="./assets/img/e-file.svg" class="img-fluid e-file-icon" />
            </div>
            <form class="col-lg-6 mx-auto" action="/upload-doc" method="post" enctype="multipart/form-data">
                <div class="col-12 p-3">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="dokumen" class="custom-file-input" required />
                            <label class="custom-file-label">Pilih Dokumen</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-3">
                    <select name="kategori" class="browser-default custom-select" required>
                        <option value="" disabled selected>-Kategori-</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-12 submit-btn">
                    <input class="btn btn-blue" type="submit" value="Upload" />
                </div>
            </form>
        </div>
        <table class="table table-bordered mt-1">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama Dokumen</th>
                    <th scope="col">Tanggal Masuk</th>
                    <th scope="col">Persetujuan</th>
                </tr>
            </thead>
            <tbody>
                {{#each documents}}
                    <tr id="dokumen-{{this.id_dokumen}}">
                        <th scope="row">{{this.id_dokumen}}</th>
                        <td>{{this.nama}}</td>
                        <td>{{this.tanggal_masuk}}</td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="validation-{{this.id_dokumen}}"
                                    id="validation-{{this.id_dokumen}}-accept" value="accept">
                                <label class="custom-control-label"
                                    for="validation-{{this.id_dokumen}}-accept">Setujui</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="validation-{{this.id_dokumen}}"
                                    id="validation-{{this.id_dokumen}}-decline" value="decline">
                                <label class="custom-control-label"
                                    for="validation-{{this.id_dokumen}}-decline">Tolak</label>
                            </div>
                            <button class="btn stylish-color text-light btn-sm" type="button"
                                onclick="submitDoc('{{this.id_dokumen}}');">Submit</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./assets/js/popper.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./assets/js/mdb.min.js"></script>
    <script>
        var a = "{{json documents}}"
        $(document).ready(() => {
            const url = new URLSearchParams(location.search);
            if (url.get("show") != null) {
                $("#message").html(decodeURIComponent(url.get("message")));
                $(".popup-msg").addClass(`alert-${url.get("color")}`).fadeIn(300);
            }
            setTimeout(() => {
                $(".popup-msg").removeClass(`alert-${url.get("color")}`).fadeOut(500);
                $("#message").html("");
            }, 3000);
        });
        function submitDoc(id) {
            let status;
            if ($(`#validation-${id}-accept:checked`).val() == undefined) status = "decline";
            else status = "accept";
            $.ajax({
                url: "/validate-doc",
                method: "POST",
                data: {
                    document_id: id,
                    status,
                    userLevel: document.cookie.split("; ").find(t => t.includes("level")).split("=")[1]
                },
                success: function (result) {
                    if (result.status == 0) return alert("Tidak memiliki akses!");
                    $(`#dokumen-${id}`).fadeOut(500);
                }
            })
        }
    </script>
</body>

</html>