<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | E-File</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        .navbar {
            background-color: #1565c0;
            color: white;
        }

        .e-file-icon {
            height: 250px;
            width: auto;
        }

        .content {
            margin-top: 4rem;
            min-height: 90vh;
        }

        .submit-btn {
            display: flex;
            justify-content: flex-end;
        }

        .popup-msg {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 10;
        }

        .side-nav {
            height: 100vh;
            position: absolute;
            left: 0
        }
    </style>
</head>

<body>
    <div role="alert">
        <span id="message"></span>
    </div>
    <div class="container-fluid">
        <header>

            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">JavaScript</a></li>
                    </ul>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="images/office.jpg">
                        </div>
                        <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


        </header>


        <div class="content">
            <img src="./assets/img/e-file.svg" class="e-file-icon" />
            <form action="/upload-doc" method="post" enctype="multipart/form-data">

                <input type="file" name="dokumen" required />

                <select name="kategori" required>
                    <option value="" disabled selected>-Kategori-</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <input type="submit" value="Upload" />
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama Dokumen</th>
                    <th scope="col">Tanggal Masuk</th>
                    <th scope="col">Persetujuan</th>
                </tr>
            </thead>
            <tbody>
                {{#each documents}}
                    <tr id="dokumen-{{this.id_dokumen}}">
                        <th>{{this.id_dokumen}}</th>
                        <td>{{this.nama}}</td>
                        <td>{{this.tanggal_masuk}}</td>
                        <td>

                            <input type="radio" name="validation-{{this.id_dokumen}}"
                                id="validation-{{this.id_dokumen}}-accept" value="accept">
                            <label class="custom-control-label"
                                for="validation-{{this.id_dokumen}}-accept">Setujui</label>

                            <input type="radio" name="validation-{{this.id_dokumen}}"
                                id="validation-{{this.id_dokumen}}-decline" value="decline">
                            <label class="custom-control-label"
                                for="validation-{{this.id_dokumen}}-decline">Tolak</label>
                            <button class="btn stylish-color text-light btn-sm" type="button"
                                onclick="submitDoc('{{this.id_dokumen}}');">Submit</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var a = "{{json documents}}"
        $(document).ready(() => {
            $('.sidenav').sidenav();
            const url = new URLSearchParams(location.search);
            if (url.get("show") != null) {
                $("#message").html(decodeURIComponent(url.get("message")));
                $(".popup-msg").addClass(`alert-${url.get("color")}`).fadeIn(300);
            }
            setTimeout(() => {
                $(".popup-msg").removeClass(`alert-${url.get("color")}`).fadeOut(500);
                $("#message").html("");
            }, 3000);
        });
        function submitDoc(id) {
            let status;
            if ($(`#validation-${id}-accept:checked`).val() == undefined) status = "decline";
            else status = "accept";
            $.ajax({
                url: "/validate-doc",
                method: "POST",
                data: {
                    document_id: id,
                    status,
                    userLevel: document.cookie.split("; ").find(t => t.includes("level")).split("=")[1]
                },
                success: function (result) {
                    if (result.status == 0) return alert("Tidak memiliki akses!");
                    $(`#dokumen-${id}`).fadeOut(500);
                }
            })
        }
    </script>
</body>

</html>